#!/bin/sh
cd {{ base_path }}/backup_sync
. ~/.profile

export TXT_HOSTNAME=`hostname`
export TXT_MESSAGE="[$TXT_HOSTNAME] $1"
curl --data chat_id="$TELEGRAM_CHATID" --data "text=$TXT_MESSAGE" "https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage"
