#!/bin/sh
cd {{ base_path }}/{{ backup.scripts_path }}
. ~/.profile

mkdir -p {{ base_path }}/{{ backup.source }}/
cd {{ base_path }}/{{ backup.source }}/

docker exec -it pihole bash pihole -a -t pihole-backup.tar.gz
docker cp pihole:/pihole-backup.tar.gz .

cd {{ base_path }}/{{ backup.scripts_path }}
sh do_alert.sh "backup complete"

