#!/bin/sh

KEY_FILE={{base_path}}/containers/nginx-data/certs/nginx-selfsigned.key
CRT_FILE={{base_path}}/containers/nginx-data/certs/nginx-selfsigned.crt

cat /usr/lib/ssl/openssl.cnf > /tmp/openssl.cnf
echo '[SAN]\nsubjectAltName=DNS:{{ ansible_nodename }},IP:{{ ansible_default_ipv4.address }}\nbasicConstraints=CA:TRUE,pathlen:0' >> /tmp/openssl.cnf

SUBJECT="{{ cert_detail }}"

openssl req -x509 -nodes -days 3650 -newkey rsa:2048 \
	-keyout $KEY_FILE -out $CRT_FILE \
	-reqexts SAN -extensions SAN -config /tmp/openssl.cnf \
	-subj "$SUBJECT"
